@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
}

/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap'); */

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-size: 14px;
  line-height: 1.42857143;
  font-style: normal;
}

@layer components {
  .container {
    @apply max-w-[1185px] m-auto
  }



}